<h1> Dress Profile </h1>
<div id="dress-profile-wrapper">
  <h2><%= @dress.name %></h2>
  <h3><%= @dress.size %></h3>
  <h3><%= @dress.description %></h3>
  <h3> $<%= @dress.price %></h3>
  <% if @dress.available %>
    <%= render 'rent' %>
  <% end %>
  <h4> See more dresses from <%= link_to @dress.user.name, @dress.user %> </h4>
    <%= image_tag @dress.image.url(:medium) %>
    <% if @dress.user == current_user %> 
      <nav>
      <%= link_to 'Edit', edit_dress_path(@dress) %>
      <%= link_to 'Delete', @dress,
      method: :delete,
      confirm: "Are you sure you want to permanently remove this dress?" %>
      </nav>
    <% end %>  
</div>
